@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?vry5sz');
  src: url('../fonts/icomoon.eot?vry5sz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vry5sz') format('truetype'),
    url('../fonts/icomoon.woff?vry5sz') format('woff'),
    url('../fonts/icomoon.svg?vry5sz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

a[href^="https://www.000webhost.com"] {
  display: none !important;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-motoboy:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e900";
}

.icon-bell:before {
  content: "\e91f";
}

.icon-clock-history:before {
  content: "\e920";
}

.icon-credit-card:before {
  content: "\e921";
}

.icon-whatsapp:before {
  content: "\e906";
}

.icon-cart-plus:before {
  content: "\e901";
}

.icon-bag:before {
  content: "\e902";
}